@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --PaleViolet: hsl(276, 100%, 81%);
  --ModerateViolet: hsl(276, 55%, 52%);
  --DesaturatedDarkViolet: hsl(271, 15%, 43%);
  --GrayishBlue: hsl(206, 6%, 79%);
  --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  --DarkGrayishViolet: hsl(270, 7%, 64%);
  --linear: hsl(264, 100%, 61%), hsl(293, 100%, 63%);
  --LightGrayishViolet: hsl(270, 20%, 96%);
  --VeryLightMagenta: hsl(289, 100%, 72%);
  --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  --DarkGrayishViolet: hsl(270, 7%, 64%);
}
body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

.shape {
    height: 40rem;
    width: 20rem;
    background-color: var(--ModerateViolet);
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 200px;
    position: absolute;
    left: -8rem;
    top: -6rem;
    z-index: -1;
}
/* Styling the iphone */
.iphone {
  background-color: #fff;
  width: 60%;
  max-width: 200px;
  border-radius: 20px;
  position: relative;
  padding: 10px;
  margin-top: 3rem;
  box-shadow: 10px 10px 20px #dddddd;
}
.iphone::after {
  content: "";
  position: absolute;
  right: 3.4rem;
  bottom: 31.9rem;
  width: 0;
  height: 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-left: 65px solid #fff;
  border-right: 65px solid #fff;
  border-bottom: 24px solid #fff;
}

/* styling images */
.pp {
  width: 1rem;
  border-radius: 50%;
  height: 1rem;
  border: 1px solid #fff;
}
.dogimg {
  width: 2rem;
  border-radius: 10px;
}
.options {
  width: 3px;
}
.back {
  width: 6px;
}

/* Styling the chat header */
.header {
  background-image: linear-gradient(to right top, var(--linear));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem 1rem;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
.friend {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.name {
  font-size: 7px;
  color: var(--PaleViolet);
}
.name span {
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}

/* styling the inbox */

.inbox {
  background-color: var(--LightGrayishViolet);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-top: -8px;
  padding: 3px 5px;
}
.inbox p {
  font-size: 6.8px;
  width: 7rem;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 3px;
  padding: 6px 1rem 5px 10px;
}

/* styling staffs chat */
.client1st {
  display: flex;
  flex-direction: column;
}
.client1st p,
.client2nd p {
  color: var(--ModerateViolet);
  background-color: #eddce6;
}
.client1st p:last-child{
    margin-top: 1px;
}

.circle {
  height: 10px;
  width: 10px;
  border: 1px solid var(--VeryLightMagenta);
  border-radius: 50%;
}
.pay {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rate1,
.rate2 {
  background-image: linear-gradient(to left, var(--linear));
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 3px;
  padding: 0 10px;
  width: 65%;
}
.rate2 {
  margin-bottom: 1.5rem;
}
.rate1 p,
.rate2 p {
  background-color: transparent;
  color: #fff;
  font-size: 8px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 0px;
}
p.price {
  font-size: 10px;
  width: 20px;
  font-weight: bold;
}

/* styling sender chat */

.sam {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
  gap: 1px;
}
.sam p {
  background-color: #fff;
  color: var(--DesaturatedDarkViolet);
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 3px;
  padding: 9px 6px;
  width: 6rem;
  box-shadow: 2px 5px 5px rgb(227, 222, 222);
}
.sam p:last-child {
  width: 4rem;
  margin-top: 1px;
}

/* styling the message box */

.type {
    background-color: #fff;
    display: flex;
    justify-content: center;
    height: 2rem;
    margin: auto;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 0 5px;
}
.type img {
    background-color: var(--VeryDarkDesaturatedViolet);
    border-radius: 50px;
    width: 10px;
    height: 10px;
    padding: 5px;
}
input {
    border: 1px solid transparent;
    outline: none;
    padding-left: 1rem;
}

.explanation {
    text-align: center;
    margin-top: 3rem;
    width: 80%;
    font-size: 15.5px;
    line-height: 25px;
    color: var(--DarkGrayishViolet);
}
h2 {
    color: var(--VeryDarkDesaturatedViolet);
    font-size: 40px;
}
::placeholder {
  color: var(--GrayishBlue);
}

/* RESPONSIVENESS */

@media screen and (min-width: 1020px){
    body {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 8rem;
    }
    .explanation {
        text-align: left;
        max-width: 420px;
    }
    h2 {
        font-size: 30px;
    }
    .shape {
        width: 35rem;
        height: 45rem;
        border-bottom-right-radius: 700px;
        border-bottom-left-radius: 700px;
        left: -3rem;
    }
}
